body{
    width: 100vw;
    height: 100vw;
    margin: 0 auto;
    background-color: black;
}
#lightlogo{
    width: 70vw;
    height: 80vw;
    display: block;
    margin: 0 auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#main-back{
    width: 70vw;
    height: 120vw;
    margin: -10px auto 0 auto;
    background-color: darkblue;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.Buttons{
    padding-top: 12px;
    display: inline-block;
    color: white;
    height: 40px;
    margin-top: 20px;
    width: 60%;
    background-color: darkslateblue;
    border-radius: 8px;
}
.Buttons:hover{
    height: 46px;
    padding-top: 16px;
    width: 65%;
}